:root{
    --earth: url(./images/desktop/image-deep-earth.jpg);
    --night-arcade: url(./images/desktop/image-night-arcade.jpg);
    --soccer: url(./images/desktop/image-soccer-team.jpg);
    --grid:url(./images/desktop/image-grid.jpg);
    --above:url(./images/desktop/image-from-above.jpg);
    --borealis:url(./images/desktop/image-pocket-borealis.jpg);
    --curiosity:url(./images/desktop/image-curiosity.jpg);
    --fisheye:url(./images/desktop/image-fisheye.jpg);
}

header{
    align-items: flex-start;
    background-image: url(./images/desktop/image-hero.jpg);
    background-size: cover;
}

.nav-title__container{
    padding: 0;
    margin: 0;
    width: 0;
    height: 0;
    visibility: hidden;
    transition: 0s;
}

.button-image-container{
    width: 0;
    height: 0;
    visibility: hidden;
    transition: 0s;
}

.header-container__logo{
    margin: 0;
    width: 170px;
    display: inline-block;
}

.header-container__nav{
    box-sizing: border-box;
    padding: 60px 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.header-links__bar_close{
    position: relative;
    left: 0;
    width: 330px;
    height: auto;
    display: block;
    transition: 0s;
}

.nav-bar__content{
    margin-top: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}

.nav-item{
    margin: 0;
    padding: 0 10px;
    font-size: 1.7rem;
    font-weight: lighter;
    text-transform: none;
    cursor: pointer;
}

.title-container{
    margin: 40px 0 150px 70px;
    border: 2px solid var(--white);
    width: 90%;
    text-align: left;
}

.main-header__title{
    margin: 30px;
    font-size: 6rem;
}

/*End Header*/

/*Article section*/

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-section__article{
    position: relative;
    display: flex;
    justify-content: flex-start;
    padding: auto 30px;
}

.section-article__image{
    position: relative;
    margin-left: 0;
    width: 70%;
}

.section-article__container{
    position: absolute;
    right: -7%;
    bottom: -40px;
    padding: 0  0 0 70px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
    text-align: left;
}

.section-article__container h2{
    font-size: 4rem;
    width: 100%;
}

/*Grid Menu*/

.grid-menu__title{
    align-self: flex-start;
    justify-self: flex-start;
}

.grid-menu__button{
    grid-row-start: 1;
    grid-column-start: 2;
    justify-self: flex-end;
}

.grid-items__list{
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.grid-item{
    height: 450px;
    padding: 25px;
}

/*Footer*/
.footer-grid__container{
    max-width: 1000px;
    margin: 0 auto;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows:  repeat(2, 1fr);
    padding: auto;
}

.footer-logo__container{
    justify-self: start;
    margin: 0;
}

.footer-container__nav{
    width: 100%;
    flex-direction: row;
    justify-content: flex-start;
    grid-row-start: 2;
}

.footer-container__socialmedia{
    width: 100%;
    justify-content: flex-end;
}

.footer-copyright-message{
    justify-self: right;
}